<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title %}{{title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="{%BASE_URL%}/assets/css/style.css?v={%VERSION%}">
</head>
<body>
<header>
  <a class="logo" href="{%BASE_URL%}/" role="none">
    ※ 11ty Static
  </a>
	<nav>
		<ul>
			<li><a class="{% if page.url === '/' %} active{% endif %}" href="{%BASE_URL%}/">Home</a></li>
			<li><a class="{% if page.url === '/sample-page/' %} active{% endif %}" href="{%BASE_URL%}/sample-page/">Sample Page</a></li>
			<li><a class="{% if page.url === '/folder/' %} active{% endif %}" href="{%BASE_URL%}/folder/">Inside a folder</a></li>
			<li><a class="{% if page.url === '/no-template-sample-page/' %} active{% endif %}" href="{%BASE_URL%}/no-template-sample-page/">No template</a></li>
		</ul>
	</nav>
</header>

<main>
	{% block content %}
	
	{% endblock %}
</main>
<footer>
	<small>
		{{ page.date | dateToISO }} - Check out the project: <a href="https://github.com/nalmeida/static-11ty">https://github.com/nalmeida/static-11ty</a>
	</small>
</footer>

<script src="{%BASE_URL%}/assets/js/script.js?v={%VERSION%}"></script>

<script>
	// Add Your tracking script here!
	// FakeTracker
	window.analytics = {
		track: function(event, page) {
			console.log('FakeTracker:', event, page)
		}
	}
	// EndFakeTracker
</script>
{% block tracking %}

{% endblock %}

</body>
</html>