<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Static 11ty</title>
	<meta name="description" content="">

	<link rel="stylesheet" href="{%BASE_URL%}/assets/css/style.css?v={%VERSION%}">
</head>
<body>
<nav>
	<a href="{%BASE_URL%}/">Home</a>
	<a href="{%BASE_URL%}/sample-page">Sample Page</a>
	<a href="{%BASE_URL%}/folder">Inside a folder</a>
</nav>
<main>
{{ content | safe }}
</main>
<footer>
	Footer
</footer>
<script src="{%BASE_URL%}/assets/js/script.js?v={%VERSION%}"></script>
</body>
</html>